#nav{
    margin-top: 30px;
    background: #969696;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#Blip{
    background-color: #4CAF50;
}

#Bloop{
    background-color:#5250b6;
}

#Click{
    background-color:#50b694;
}