#nav{
    margin-top: 30px;
    background: #cccccc;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    border: 2px solid #4acaf5;
}

#blip{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#bloop{
    background-color:#5250b6;
}

#click{
    background-color:#50b694;
}