#nav{
    margin-top: 30px;
    background: #cccccc;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#blip{
    color:#8fb650;
}

#bloop{
    color:#5250b6;
}

#click{
    color:#50b694;
}